body {
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none !important;
    /* Removes underline */
    color: inherit !important;
    /* Inherits color from parent element */
}

.main-center {
    padding: 0px 100px !important;
    max-width: 1500px;
    margin: auto;
}

/* nav */
nav {
    max-width: 1500px;
    margin: auto;
    background: #FFFFFF;
    position: sticky !important;
    top: 0px;
}

nav div {
    max-width: 1360px;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    margin-right: 10px;
    padding: 0px 5px;
}


a:hover {
    border-bottom: 2px solid rgba(193, 82, 202, 1);
}

.VICTOUS {
    color: #490082;
}

.icon-img {
    padding: 0px 5px;
}

.btn-Genology {
    width: 100px;
    height: 34px;
    background: #fff;
}

.btn-Login {
    width: 100px;
    height: 34px;
    background: rgba(73, 0, 130, 1);
    color: rgba(255, 255, 255, 1);
}


/* section1 */
.section1 {

    height: 800px;
    background: #000;

    background-image: url('assets/section1.png');
    background-size: cover;
    background-position: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 100px;
}

.section1-child {
    max-width: 1300px;
    margin: auto;
    padding-top: 400px !important;
    /* align-items: end; */

}

.section3-child {
    max-width: 1300px;
    margin: auto;
    padding-top: 400px !important;
    /* align-items: end; */

}

.section4-child {
    max-width: 1300px;
    margin: auto;
    padding-top: 400px !important;
    /* align-items: end; */

}

.section3 {

    height: 800px;
    background: rgba(73, 0, 130, 1);
    background-image: url('assets/section3.png');
    background-size: auto 100%;
    background-position: right center;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 100px;
}

.section5 {

    height: 800px;
    background: #fff;
    background-image: url('assets/section5.png');
    background-size: auto 100%;
    background-position: left center;
    background-repeat: no-repeat;
}

.section4 {

    height: 800px;
    background: #000;

    background-image: url('assets/section4.png');
    background-size: cover;
    background-position: center;
    /* margin: 0; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 100px;
}

.section4-child {
    padding-top: 500px !important;

}


.menu-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu-item {
    padding: 10px;
}

.section1-h1 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}

.section1-h2 {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.btn-arrow {
    width: 64px;
    height: 64px;
    padding: 20px !important;
    background: rgba(73, 0, 130, 1);
}

.btn-know {
    width: 218px;
    height: 75px;
    background: rgba(73, 0, 130, 1);
    color: #fff;
}

.section3-h1 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.section3-h2 {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.section3-h3 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 100;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

/* section2 */
.section2 {
    height: 850px;
}

.section2-h1 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(31, 31, 31, 1);
}

.section2-h2 {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;

}

.section2-h3 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.section5-h1 {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: right;

}

.section5-h2 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(31, 31, 31, 1);
}

.section6 {

    height: 860px;
    background: #000;

    background-image: url('assets/section6.png');
    background-size: cover;
    background-position: center;
    margin: 0;
}

.section6-h1 {
    font-family: Inter;
    font-size: 26px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;

}

.Mathew {
    color: #fff;
    font-family: Space Grotesk;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;

}

/* footer */
footer {
    max-width: 1300px;
    margin: auto;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-items {
    gap: 20px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(73, 0, 130, 1);
}

.footer-items1 {
    gap: 20px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(117, 117, 117, 1);
}

@media (min-width: 900px) {
    .memuHide {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .img-sec-media {
        width: 500px !important;
    }
}

@media (max-width: 900px) {
    .navHide {
        display: none !important;
    }

    .fooeter-media1 {
        flex-direction: column !important;
    }

    .fooeter-media2 {
        justify-content: start !important;
        gap: 20px !important;
        flex-wrap: wrap !important;
    }

    .img-sec-media {
        width: 300px !important;
    }

    .main-center {
        padding: 20px !important;
    }

    .section5 {
        background-image: url('assets/section5.png');
        background-size: auto 50%;
        background-position: left center;
        background-repeat: no-repeat;
    }
}

@media (max-width: 700px) {
    .section1-media {
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: start !important;
        flex-wrap: wrap !important;
        gap: 10px;
    }

    .btn-know {
        width: 150px !important;
        height: 50px !important;
    }

    .btn-arrow {
        width: 50px !important;
        height: 50px !important;
        padding: 10px !important;
    }

    .section1-h2 {
        font-size: 30px !important;
    }

    .section2 {
        flex-direction: column !important;
    }

    .section2-h3 {
        font-size: 12px !important;
    }

    .section3-h2 {
        font-size: 30px !important;
    }

    .section5-h1 {
        font-size: 28px !important;
    }

    .section5-h2 {
        font-size: 12px;
        font-weight: 400;
    }

    .section6-h1 {
        font-size: 12px !important;
    }

    .footer-items1 {
        font-size: 12px !important;
        font-weight: 400 !important;
    }
}

@media (max-width: 600px) {
    .navHide1 {
        display: none !important;
    }
}